.idea
__pycache__/
atomize/device_modules/config/__pycache__/
atomize/device_modules/config/__pycache__
*.pyc
*.swo
*~
build
dist
*.egg-info
atomize/logos
atomize/device_modules/Metrolab_PT2025.py
atomize/device_modules/config/Metrolab_PT2025_config.ini
atomize/temp.param
atomize/temp.csv